apiVersion: 1

providers:
  - name: default
    type: file
    options:
      # [수정] /var/lib/grafana/dashboards → /etc/grafana/provisioning/dashboards
      path: /etc/grafana/provisioning/dashboards