apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090   # Docker 네트워크 내부 Prometheus 주소
    isDefault: true               # 기본 데이터소스로 지정