[defaults]
# 1. 인벤토리 파일 경로 지정 (가장 중요)
inventory = ./inventory.ini

# 2. 처음 접속 시 SSH 지문 체크 생략 (자동화의 필수)
host_key_checking = False

# 3. 기본 접속 유저 설정
remote_user = ubuntu

# 4. SSH 연결 속도 최적화 (Pipelining)
[ssh_connection]
pipelining = True
# 💡 핵심: 베스천을 거쳐가는 ProxyCommand 설정 시 필요한 컨트롤 옵션
control_path = /tmp/ansible-ssh-%%h-%%p-%%r